@import "tailwindcss";
@source "../components";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar { 
  width: 4px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb { 
  background-color: #e7e5e4; 
  border-radius: 10px; 
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
}

@keyframes imageFade { 
  0% { opacity: 0; filter: blur(10px); } 
  100% { opacity: 1; filter: blur(0); } 
}

.animate-image-fade { 
  animation: imageFade 1.2s ease-out forwards; 
}